  
{% extends 'base.html' %} 
{% block body %}

    <!-- {% for result in myresult %}
            <div class="prayer_print"> -->
              <!-- <p>{{result[0]}}  {{result[1]}}</p>                 -->
              <!-- <ul class="list-group"> -->
                <!-- <li class="list-group-item">{{result[0]}} {{result[1]}}</li> -->
              <!-- </ul>             -->
              <!-- <a href="/" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button> -->
            <!-- </div>   -->
    <!-- {% endfor %} -->

    <table class="table">
      <!-- <thead>
        <tr>
          <th scope="col">Prayer</th>
          <th scope="col">Tag</th>
        </tr>
      </thead> -->
      
      <tbody>
{% for result in myresult %}
<tr>

<td>{{result[0]}}</td>
<td>{{result[1]}}</td>
<td>


</td>
</tr>

{% endfor %}
</tbody>
</table>
              
{% endblock body %}