{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}

    <div class="container my-3">
        <h2>Create Prayer</h2>
        <form method="POST">
            <div class="mb-3">
              <label for="tag" class="form-label">Prayer</label>
              <input type="text" class="form-control" name="point" id="point"  aria-describedby="emailHelp"> 
            </div>
            <div class="mb-3">
              <label for="tag" class="form-label">Prayer Tag</label>
              <input type="text" class="form-control" name="tag" id="tag">
            </div>

            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    

{% endblock body %}